@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "normalize.css";
@import "mobile_menu.css";
* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

.d_flex {
  display: flex;
}

.jc_sb {
  justify-content: space-between;
}

.ai_c {
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1195px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 928px) {
  .container {
    max-width: 820px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    max-width: 680px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (max-width: 429px) {
  .container {
    max-width: 390px;
  }
}
@media screen and (max-width: 415px) {
  .container {
    max-width: 300px;
  }
}
@media screen and (max-width: 391px) {
  .container {
    max-width: 290px;
  }
}

/* nav_menu */
.nav_menu {
  width: 100%;
  padding-top: 29px;
  position: absolute;
  z-index: 1;
  animation: nav_menu 2s;
}
@media screen and (max-width: 576px) {
  .nav_menu {
    display: none;
  }
}
.nav_menu ul {
  display: flex;
}
@media screen and (max-width: 576px) {
  .nav_menu ul {
    display: none;
  }
}
.nav_menu li {
  list-style: none;
  margin: 0 15px 0 15px;
}
.nav_menu li:first-child {
  margin: 0 15px 0 0;
}
.nav_menu li:last-child {
  margin: 0 0 0 15px;
}
.nav_menu a {
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.nav_menu a:hover {
  color: #FC0A7E;
  transition: 0.2s linear;
}

/* momentum */
.momentum {
  overflow: hidden;
  position: relative;
  padding: 298px 0 30px 0;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}
@media screen and (max-width: 1024px) {
  .momentum {
    padding: 200px 0 30px 0;
  }
}
@media screen and (max-width: 928px) {
  .momentum {
    padding: 120px 0 30px 0;
  }
}
@media screen and (max-width: 769px) {
  .momentum {
    padding: 135px 0 30px 0;
  }
}
@media screen and (max-width: 429px) {
  .momentum {
    padding: 270px 0 30px 0;
  }
}
@media screen and (max-width: 415px) {
  .momentum {
    padding: 260px 0 30px 0;
  }
}
@media screen and (max-width: 391px) {
  .momentum {
    padding: 200px 0 30px 0;
  }
}
@media screen and (max-width: 360px) {
  .momentum {
    padding: 270px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  .momentum {
    padding: 170px 0 0 0;
  }
}
@media screen and (max-width: 576px) {
  .momentum .container {
    text-align: center;
  }
}
.momentum h1 {
  max-width: 431px;
  margin: 0 0 10px 0;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .momentum h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 928px) {
  .momentum h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 769px) {
  .momentum h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .momentum h1 {
    max-width: 450px;
  }
}
@media screen and (max-width: 429px) {
  .momentum h1 {
    font-size: 55px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 360px) {
  .momentum h1 {
    font-size: 35px;
    line-height: 35px;
  }
}
.momentum p {
  max-width: 677px;
  margin-bottom: 45px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
}
@media screen and (max-width: 1195px) {
  .momentum p {
    max-width: 620px;
  }
}
@media screen and (max-width: 1024px) {
  .momentum p {
    max-width: 580px;
    font-size: 27px;
  }
}
@media screen and (max-width: 928px) {
  .momentum p {
    font-size: 23px;
  }
}
@media screen and (max-width: 769px) {
  .momentum p {
    max-width: 380px;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .momentum p {
    max-width: 450px;
  }
}
@media screen and (max-width: 429px) {
  .momentum p {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .momentum p {
    font-size: 20px;
    line-height: 25px;
  }
}

.momentum_btn {
  background: #FC0A7E;
  border-radius: 3px;
  padding: 20px 40px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
}

.momentum_btn:hover {
  background-color: #CF0063;
  transition: background 0.2s linear;
}

.momentum_content img {
  width: 652px;
  height: 680px;
  position: absolute;
  top: 130px;
  right: 75px;
}
@media screen and (max-width: 1281px) {
  .momentum_content img {
    width: 652px;
    height: 680px;
    position: absolute;
    top: 130px;
    right: -50px;
  }
}
@media screen and (max-width: 1024px) {
  .momentum_content img {
    width: 479px;
    height: 675px;
    top: 20px;
    right: 0;
  }
}
@media screen and (max-width: 998px) {
  .momentum_content img {
    width: 335px;
    height: 579px;
    top: -10px;
    right: 0;
  }
}
@media screen and (max-width: 769px) {
  .momentum_content img {
    width: 380px;
    height: 590px;
    top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .momentum_content img {
    display: none;
  }
}

.arrow {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.mb-207 {
  margin-bottom: 170px;
}
@media screen and (max-width: 1080px) {
  .mb-207 {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 391px) {
  .mb-207 {
    margin-bottom: 120px;
  }
}

.l_arrow img {
  margin: 0 auto;
  position: inherit;
  width: 9px;
  height: 40px;
}

/* the tablet */
.tablet {
  background-color: #1B1B1B;
  padding-top: 100px;
}
@media screen and (max-width: 1024px) {
  .tablet {
    padding-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .tablet {
    padding: 50px 0;
  }
}
.tablet h2 {
  max-width: 607px;
  margin: 0 auto;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
@media screen and (max-width: 769px) {
  .tablet h2 {
    max-width: 330px;
    font-size: 12px;
  }
}
.tablet p {
  max-width: 607px;
  margin: 30px auto;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .tablet p {
    max-width: 570px;
    margin: 20px auto;
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .tablet p {
    max-width: 570px;
    margin: 20px auto;
    font-size: 35px;
  }
}
@media screen and (max-width: 769px) {
  .tablet p {
    max-width: 371px;
    margin: 20px auto;
    font-size: 30px;
  }
}
@media screen and (max-width: 429px) {
  .tablet p {
    margin: 60px auto;
  }
}
@media screen and (max-width: 429px) {
  .tablet p {
    margin: 60px auto;
  }
}
@media screen and (max-width: 360px) {
  .tablet p {
    max-width: 247px;
    margin: 20px auto;
    font-size: 25px;
  }
}
.tablet img {
  margin-top: 55px;
  width: 1200px;
  height: 656px;
}
@media screen and (max-width: 1195px) {
  .tablet img {
    margin: 0 auto;
    width: 1080px;
    height: 588px;
  }
}
@media screen and (max-width: 1024px) {
  .tablet img {
    margin: 0 auto;
    width: 951px;
    height: 480px;
  }
}
@media screen and (max-width: 992px) {
  .tablet img {
    width: 900px;
    height: 480px;
  }
}
@media screen and (max-width: 769px) {
  .tablet img {
    margin: 0 auto;
    width: 660px;
    height: 361px;
  }
}
@media screen and (max-width: 576px) {
  .tablet img {
    display: none;
  }
}

/* pages */
.pages {
  padding: 80px 0 100px 0;
}
@media screen and (max-width: 1024px) {
  .pages {
    padding: 60px 0 70px 0;
  }
}
@media screen and (max-width: 576px) {
  .pages {
    padding: 60px 0 9px 0;
  }
}
@media screen and (max-width: 576px) {
  .pages {
    padding: 60px 0 9px 0;
  }
}
.pages h3 {
  margin-bottom: 30px;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
@media screen and (max-width: 576px) {
  .pages h3 {
    margin-bottom: 15px;
  }
}
.pages p {
  margin-bottom: 22px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .pages p {
    margin-bottom: 16px;
    font-size: 32px;
  }
}
.pages span {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}
@media screen and (max-width: 576px) {
  .pages span {
    font-size: 14px;
  }
}

.pages_text {
  max-width: 306px;
}
@media screen and (max-width: 576px) {
  .pages_text {
    max-width: 400px;
    text-align: center;
  }
}

.first_pages {
  margin-bottom: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .first_pages {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.first_pages img {
  width: 341px;
  height: 637px;
}
@media screen and (max-width: 1024px) {
  .first_pages img {
    width: 386px;
    height: 469px;
  }
}
@media screen and (max-width: 992px) {
  .first_pages img {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 769px) {
  .first_pages img {
    width: 290px;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .first_pages img {
    width: 190px;
  }
}

.second_page {
  margin-bottom: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .second_page {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  .second_page {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .second_page {
    flex-direction: column;
  }
}
.second_page img {
  width: 386px;
  height: 469px;
}
@media screen and (max-width: 769px) {
  .second_page img {
    width: 300px;
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .second_page img {
    width: 256px;
  }
}

.third_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .third_page {
    flex-direction: column;
  }
}
.third_page img {
  width: 341px;
  height: 508px;
}
@media screen and (max-width: 769px) {
  .third_page img {
    width: 290px;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .third_page img {
    width: 190px;
  }
}

/* activity */
.activity {
  padding: 59px 0 100px 0;
}
@media screen and (max-width: 1024px) {
  .activity {
    padding: 40px 0 75px 0;
  }
}
.activity img {
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 35px;
}
@media screen and (max-width: 415px) {
  .activity img {
    width: 40px;
    height: 20px;
  }
}
@media screen and (max-width: 391px) {
  .activity img {
    width: 40px;
    height: 20px;
  }
}

.items {
  max-width: 371px;
  display: block;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .items {
    max-width: 290px;
  }
}
@media screen and (max-width: 576px) {
  .items {
    max-width: 101px;
    margin-bottom: 20px;
  }
}
.items h3 {
  margin: 40px 0 17px 0;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 1024px) {
  .items h3 {
    margin: 30px 0 17px 0;
    font-size: 16px;
  }
}
.items p {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  margin-bottom: 163px;
}
@media screen and (max-width: 1024px) {
  .items p {
    font-size: 14px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .items p {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .statistics {
    width: 100px;
  }
}
@media screen and (max-width: 429px) {
  .statistics {
    width: 180px;
  }
}
@media screen and (max-width: 415px) {
  .statistics {
    width: 120px;
  }
}
@media screen and (max-width: 391px) {
  .statistics {
    width: 110px;
  }
}
.statistics h3 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;
  text-align: center;
  color: #333333;
}
@media screen and (max-width: 992px) {
  .statistics h3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .statistics h3 {
    font-size: 35px;
  }
}
.statistics p {
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .statistics p {
    font-size: 15px;
  }
}

@media screen and (max-width: 429px) {
  .stat {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 415px) {
  .stat {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 391px) {
  .stat {
    flex-wrap: wrap;
  }
}

/* food */
.food {
  padding: 70px 0 102px 0;
}
@media screen and (max-width: 769px) {
  .food {
    padding: 10px 0 60px 0;
  }
}

.food_text {
  max-width: 330px;
}
@media screen and (max-width: 769px) {
  .food_text {
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.food_text h3 {
  margin-bottom: 30px;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
@media screen and (max-width: 992px) {
  .food_text h3 {
    max-width: 300px;
  }
}
.food_text p {
  margin-bottom: 22px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
.food_text span {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.burger {
  margin-bottom: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .burger {
    margin-bottom: 100px;
    flex-direction: column;
  }
}
.burger img {
  width: 519px;
  height: 414px;
}
@media screen and (max-width: 992px) {
  .burger img {
    width: 500px;
    height: 390px;
  }
}
@media screen and (max-width: 928px) {
  .burger img {
    width: 430px;
    height: 330px;
  }
}
@media screen and (max-width: 429px) {
  .burger img {
    width: 350px;
    height: 300px;
  }
}
@media screen and (max-width: 415px) {
  .burger img {
    width: 300px;
    height: 260px;
  }
}

.salad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
@media screen and (max-width: 769px) {
  .salad {
    flex-direction: column;
  }
}
.salad img {
  width: 519px;
  height: 414px;
}
@media screen and (max-width: 992px) {
  .salad img {
    width: 500px;
    height: 390px;
  }
}
@media screen and (max-width: 928px) {
  .salad img {
    width: 430px;
    height: 330px;
  }
}
@media screen and (max-width: 429px) {
  .salad img {
    width: 350px;
    height: 300px;
  }
}
@media screen and (max-width: 415px) {
  .salad img {
    width: 300px;
    height: 260px;
  }
}

/* quotes */
.quotes {
  padding: 60px 0 172px 0;
}
@media screen and (max-width: 992px) {
  .quotes {
    padding: 60px 0 120px 0;
  }
}
@media screen and (max-width: 769px) {
  .quotes {
    padding: 40px 0 20px 0;
  }
}
.quotes img {
  margin: 0 auto;
  height: 49px;
  width: 58px;
}
.quotes p {
  max-width: 700px;
  margin: 65px auto;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #6B6B6B;
}
@media screen and (max-width: 415px) {
  .quotes p {
    max-width: 700px;
    margin: 30px auto;
    font-weight: 400;
    font-size: 20px;
  }
}
@media screen and (max-width: 391px) {
  .quotes p {
    max-width: 600px;
    margin: 29px auto;
    font-weight: 400;
    font-size: 19px;
  }
}

.first_newspaper, .second_newspaper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.first_newspaper p, .second_newspaper p {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
  margin: 0;
}
@media screen and (max-width: 415px) {
  .first_newspaper p, .second_newspaper p {
    margin: 10px;
  }
}

.first_newspaper p:first-child {
  font-weight: 700;
}

.second_newspaper p:last-child {
  font-weight: 700;
}

.first_newspaper p:first-child:after,
.second_newspaper p:first-child:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #D3D3D3;
  margin: 0 20px 5px 20px;
}
@media screen and (max-width: 415px) {
  .first_newspaper p:first-child:after,
.second_newspaper p:first-child:after {
    display: none;
  }
}

/* ready */
.product img:first-child {
  margin: 0 auto;
  height: 35px;
  width: 1008px;
}
@media screen and (max-width: 992px) {
  .product img:first-child {
    width: 850px;
  }
}
@media screen and (max-width: 769px) {
  .product img:first-child {
    display: none;
  }
}

.mobile {
  margin-top: 118px;
}
@media screen and (max-width: 992px) {
  .mobile {
    margin-top: 65px;
  }
}
@media screen and (max-width: 769px) {
  .mobile {
    margin-top: 25px;
  }
}
@media screen and (max-width: 576px) {
  .mobile {
    display: none;
  }
}

/* get_started */
.get_started {
  background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 10%), #FC0A7E url("../image/ready.jpg") center;
  background-size: cover;
  height: 100%;
  padding: 165px 0 156px 0;
  position: relative;
}
@media screen and (max-width: 1281px) {
  .get_started {
    background-size: auto;
    padding: 154px 0 156px 0;
  }
}
@media screen and (max-width: 1024px) {
  .get_started {
    background-size: auto;
    padding: 150px 0;
  }
}
@media screen and (max-width: 429px) {
  .get_started {
    padding: 100px 0;
  }
}
@media screen and (max-width: 415px) {
  .get_started {
    padding: 80px 0;
  }
}
.get_started h3 {
  margin-bottom: 40px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.get_started_btn {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 429px) {
  .get_started_btn {
    flex-direction: column;
  }
}
@media screen and (max-width: 415px) {
  .get_started_btn {
    flex-direction: column;
  }
}
.get_started_btn a:first-child {
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 40px;
  background: #FC0A7E;
  border-radius: 3px;
  margin-right: 10px;
}
@media screen and (max-width: 429px) {
  .get_started_btn a:first-child {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 415px) {
  .get_started_btn a:first-child {
    margin: 0 0 20px 0;
  }
}
.get_started_btn a:last-child {
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #B04BB3;
}
.get_started_btn a:hover {
  background-color: #CF0063;
  transition: background 0.2s linear;
}

/* footer */
footer {
  padding: 129px 0 69px 0;
  background: #1B1B1B;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 70px 0 60px 0;
  }
}
footer h4 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer p {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
  margin-bottom: 40px;
}
footer form {
  margin-bottom: 146px;
}
@media screen and (max-width: 1024px) {
  footer form {
    margin-bottom: 84px;
  }
}
footer ul {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  footer ul {
    flex-wrap: wrap;
  }
}
footer li {
  list-style: none;
  margin: 0 15px;
}
@media screen and (max-width: 576px) {
  footer li {
    margin: 20px;
  }
}
footer li :first-child {
  margin: 0 15px 0 0;
}
@media screen and (max-width: 576px) {
  footer li :first-child {
    margin: 20px;
  }
}
footer li :last-child {
  margin: 0 0 0 15px;
}
@media screen and (max-width: 576px) {
  footer li :last-child {
    margin: 20px;
  }
}
footer li a {
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6B6B6B;
}
@media screen and (max-width: 576px) {
  footer li a {
    width: 20px;
    font-size: 16px;
  }
}
footer li a:hover {
  color: #CF0063;
  transition: background 0.2s linear;
}

.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 429px) {
  .subscribe {
    flex-direction: column;
  }
}
@media screen and (max-width: 415px) {
  .subscribe {
    flex-direction: column;
  }
}
@media screen and (max-width: 415px) {
  .subscribe {
    flex-direction: column;
  }
}
.subscribe label {
  display: none;
}

.subscribe_input {
  max-width: 135px;
  background: #FFFFFF;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 22px 156px 22px 20px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .subscribe_input {
    padding: 22px 115px 22px 20px;
  }
}
@media screen and (max-width: 429px) {
  .subscribe_input {
    max-width: none;
    text-align: center;
    padding: 22px;
  }
}
@media screen and (max-width: 415px) {
  .subscribe_input {
    max-width: none;
    text-align: center;
    padding: 22px;
  }
}
.subscribe_input ::placeholder {
  color: #000000;
}
.subscribe_input :hover {
  outline: 0;
  border-color: #CF0063;
}

.subscribe_btn {
  min-width: 154px;
  background: #FC0A7E;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 22px 0;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.subscribe_btn:hover {
  background-color: #CF0063;
  transition: background 0.2s linear;
}

.footer_logo img {
  margin: 0 auto;
  width: 136px;
  height: 104px;
}

/* dialog window */
.ui-widget-header {
  border: none;
  background: #FC0A7E;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.ui-widget {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-content {
  border: none;
  background: #1B1B1B;
  color: #FFFFFF;
}

/* owl-carousel */
.owl-dots {
  position: absolute;
  bottom: 142px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .owl-dots {
    bottom: 50px;
  }
}
.owl-dots .owl-dot {
  margin: 0 7px;
  display: inline-block;
}
.owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  display: inline-block;
  background: rgba(34, 34, 34, 0.4);
}
.owl-dots .owl-dot.active span {
  background: #222222;
}

.autoplay {
  width: 100%;
  margin: 0 auto;
}
.autoplay img {
  max-width: 230px;
}

@keyframes nav_menu {
  0% {
    top: -200px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
